<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <p><%= blog.image %></p>
        </div>
        <div class="item">
            <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="item">
            <a href="/blogs/<%= blog._id %>/edit">edit</a>
        </div>
        <p><%= blog.body %></p>
    </div>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">DELETE!!!!!!</button>
    </form>
    
    
   
</div>
<% include ./partials/footer %>